.cenik {
    .mainContent {
        margin-top: 2rem;
        .tabSelect {
            width: 100%;
            background-color: $baseColor;
            justify-content: center;
            .nav-link {
                border-radius: 0;
                padding: 1rem;
                font-size: 1.2rem;
                color: #fff;
                &.active {
                    color: $baseColor;
                    background-color: #fff;
                }
            }
        }
        .tab-content {
            margin-top: 2rem;
            .autoOverflow {
                overflow-x: auto;
            }
            table {
                th,
                td {
                    text-align: center;
                }
                th,
                td:first-child {
                    font-weight: bold;
                }
                .headSecLine {
                    border-bottom: 2px solid $baseColor;
                }
                &.opravyKroupy {
                    td:first-child,
                    td:nth-child(4),
                    td:nth-child(7) {
                        border-right: 1px solid $baseColor;
                    }
                    td:nth-child(2),
                    td:nth-child(3),
                    td:nth-child(5),
                    td:nth-child(6),
                    td:nth-child(8),
                    td:nth-child(9) {
                        border-right: 1px dotted $grey;
                    }
                }
                &.opravyPromackliny {
                    width: 75%;
                    margin: auto;
                    td,
                    th {
                        &:first-child {
                            text-align: center;
                        }
                        &:nth-child(2) {
                            text-align: center;
                            border-right: 3px solid $baseColor;
                        }
                    }
                }
            }
            .promackliny {
                h3 {
                    width: 75%;
                    margin: 0 auto;
                }
            }
            .kroupy {
                h3 {
                    margin: 0 auto;
                }
            }
        }
    }
}

.table-success {
    --bs-table-bg: #fff;
    --bs-table-striped-bg: #D8F5DD;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bcd0c7;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #A6E8B1;
    --bs-table-hover-color: #000;
    color: #000;
}