.oSpolecnosti {
    .headerPicture {
        background-image: url('../img/vini_profil.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 23vw;
        position: relative;
        .headerTxt {
            width: 80%;
            position: absolute;
            left: 10%;
            bottom: 20px;
            text-shadow: 0 0 7px #363636;
            h1 {
                text-align: left;
            }
        }
    }
    .pocty {
        margin: 2rem 0;
        text-align: center;
        div {
            border-right: 1px solid $grey;
            &:last-of-type {
                border: none;
            }
            .numero {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 0;
            }
            .nase {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 0;
                &::before {
                    width: 30%;
                    padding: 15%;
                    display: block;
                    content: '';
                    margin: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: auto;
                }
            }
            .mise {
                &::before {
                    background-image: url('../img/world.png');
                }
            }
            .vize {
                &::before {
                    background-image: url('../img/flag.png');
                }
            }
            .produkt {
                &::before {
                    background-image: url('../img/plane.png');
                }
            }
            .klienti {
                &::before {
                    background-image: url('../img/man.png');
                }
            }
        }
    }
}

.partneri {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1rem;
    div {
        width: 22%;
        height: auto;
        margin-bottom: 1rem;
        .partner {
            width: 100%;
            padding: 50%;
            background-size: contain;
            border-radius: 100%;
            display: inherit;
            transition: .3s;
            &.first {
                background-image: url('../img/partners/6.png');
            }
            &.second {
                background-image: url('../img/partners/10.png');
            }
            &.third {
                background-image: url('../img/partners/12.png');
            }
            &.fourth {
                background-image: url('../img/partners/11.png');
            }
            &.fifth {
                background-image: url('../img/partners/14.png');
            }
            &.sixth {
                background-image: url('../img/partners/1.png');
            }
            &.seventh {
                background-image: url('../img/partners/13.png');
            }
            &.eighth {
                background-image: url('../img/partners/4.png');
            }
            &.nineth {
                background-image: url('../img/partners/2.png');
            }
            &.tenth {
                background-image: url('../img/partners/7.png');
            }
            &:hover {
                transform: scale(1.15);
            }
        }
    }
}