.recenze {
    margin-top: 2rem;
    .nazor {
        display: inline-block;
        margin-left: 2rem;
        color: $grey2;
    }
    .row {
        margin-top: 2rem;
        .recenzeCard {
            .card {
                background: none;
                border: none;
                .card-body {
                    padding: 0;
                    .card-text {
                        background-color: #fff;
                        padding: 1rem;
                        position: relative;
                        margin-bottom: 0;
                        font-size: 1rem;
                        &::after {
                            content: '';
                            height: 20px;
                            width: 20px;
                            display: inline-block;
                            position: absolute;
                            bottom: -1rem;
                            left: 10%;
                            transform: rotate(45deg);
                            border-top: 1.5rem solid transparent;
                            border-bottom: 1.5rem solid transparent;
                            border-right: 1.5rem solid white;
                        }
                    }
                    .card-title {
                        color: #555;
                        text-align: right;
                        width: 100%;
                        margin: 0 0 0 auto;
                        font-size: .8rem;
                        display: inline-block;
                    }
                }
            }
        }
    }
}