footer {
    background-color: #fff;
    margin-top: 1rem;
    border-top: 5px solid green;
    padding: 2rem 0;
    .links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        &::before {
            content: "";
            background-image: url("../img/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            width: 150px;
            height: 30px;
            background-size: contain;
            margin-right: 1rem;
            filter: grayscale(1);
            transition: .3s;
        }
        a {
            padding: 0 1rem;
            border: none;
            border-right: 1px solid;
            &:last-child {
                border: none;
                &:hover {
                    border: none;
                }
            }
            &:hover {
                border: none;
                border-right: 1px solid;
                background-color: $baseColor_opacity;
            }
        }
    }
    .disclaimer {
        color: $grey;
        margin: 0;
        font-size: 1rem;
        &:last-child {
            margin-top: 1rem;
        }
    }
    .social {
        text-align: right;
        .fb,
        .yt {
            width: 35px;
            height: 35px;
            display: inline-block;
            background: $baseColor;
            background-image: none;
            background-size: auto;
            background-size: cover;
            &:hover {
                background-color: $grey2;
            }
        }
        .fb {
            background-image: url('../img/facebookIco.svg');
        }
        .yt {
            background-image: url('../img/youtubeIco.svg');
            margin-left: 1rem;
        }
    }
}