.smluvniPartneri {
    margin-top: 3rem;
    justify-content: center;
    #czechMap {
        position: relative;
        width: 500px;
        height: 293px;
        margin: auto;
        background-image: url('../img/mapa/mapa_cr.svg');
        background-repeat: no-repeat;
        display: none;
    }
    .czechMap-link {
        color: $baseColor;
        text-decoration: none;
        &:hover {
            border-color: $baseColor;
        }
    }
    #czechMap-overlap {
        position: relative;
        top: 0px;
        left: 0px;
        border: none;
    }
    .map-contacts {
        .map-contacts-title {
            margin: 0 0 .5rem;
        }
        .map-contacts-office {
            display: none;
            .contacts-row {
                display: flex;
                justify-content: space-between;
                .office-contact {
                    display: inline-block;
                    width: 48%;
                    line-height: 20px;
                    //margin: 15px 0;
                    padding: 1rem;
                    background-color: rgba(0, 0, 0, 0);
                    transition: .3s;
                    &:hover {
                        background-color: rgba(0, 0, 0, .05);
                    }
                    h4 {
                        color: $grey2;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 650px) {
    .office-contact {
        width: calc(49.5% - 20px);
    }
}

@media only screen and (min-width: 570px) {
    .smluvniPartneri {
        #czechMap {
            display: block;
        }
        #czechMapLinks {
            display: none;
        }
    }
}