@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//###   Basic Variables   ###
// COLORS
$baseColor: #168E33;
$baseColor2: #0c471b;
$baseColor_opacity: #168E3333;
$redColor: red;
$blueColor: #0093FF;
$darkBlueColor: #0068B5;
$grey: #949494;
$grey2: #555;
// OTHER
$max-width: 1350px;